@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #f4f4f4;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8em;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #03c04a;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.menu-toggle {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
}

#titulo {
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
}
#formulario p {
    padding: 0 0 0 20px;
} 

#formulario i {
    padding: 20px 20px 20px 0;
}

#formulario  form {
    display: grid;
    padding: 20px;
}

#formulario input {
    width: 500px;
    height: 25px;
    padding: 4px 6px 5px 12px;
}

#formulario label {
    padding: 10px;
}

#identidad {
    text-align: left;
    padding: 5px;
}

#pago {
    padding: 20px 10px 10px 10px;
    margin: 20px;
    text-align: left;
}             


button {
    margin: 15px 0 0 0;
    width: 300px;   
    height: 10px;
    background-color: transparent;
    font-weight: semibold;
    color: #444 ;
    font-size: 17px;
    padding: 15px 15px 30px 15px;
    border: 2px solid #eee;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease; 
    box-shadow: .5em .5rem 1rem #ccc,
      -.5em -.5rem 1rem #fff
  }
  button:hover {
    box-shadow: .5em .5rem 1rem #fff
      , -.5em -.5rem 1rem #ccc
  }
  button:active {
    box-shadow: inset .2rem .2rem 1rem #fff
      , inset -.2rem -.2rem 1rem #ccc
  }

  #aceptar {
    display: grid;
    font-size: 10px;
    
  }

  #aceptar label {
    padding: 15px;
    display: inline-block;
  }


  input#mi-checkbox {
    width: 10px;
    height: 10px;
    padding: 10px;
     margin-right: 10px;
    transform: scale(1.5);
  }

  #boton-pago {
    padding: 0 10px 10px 10px;
    margin: 0 10px 10px 10px;
  }
  
  span {
    color: #000000DE    ;
    cursor: pointer;
  }
  span :hover {
    text-decoration: underline;
  }
